<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <center>
    <h1>Wow, a Princeton Greeting Card!</h1>
    <%= image_tag("http://pcards.herokuapp.com/assets/crest.png", :alt => "Princeton Crest", :size => "134x150") %>
  </center>
    <p>
      Dear <%= @card.to %>,
    </p>
    <p>
      Congratulations, you've received a pCard from <%= @card.from %>!
    </p>
    <p>
      Please follow this link to view your card: <%= link_to(@url) do %><%= @url %><% end %>
    </p>
    <p>
      Have a great day!
    </p>
    <p>
      The pCards Team
    </p>

  </body>
</html>