<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= f.label :from %><br /></h2>
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <h2><%= f.label :to %><br /></h2>
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <h2><%= f.label :message %><br /></h2>
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <h2><%= f.label :bg %><br /></h2>
    <table>
      <tr>
      <% @backgrounds.each do |background| %>
        <td>
        <label class = "radio">
          <%= image_tag(background.file, :class => "preview", :size => "301x200") %>
          <%= f.radio_button(:bg, background.file) %>
        </label>
        </td>
      <% end %>
      </tr>
    </table>
  </div>
  <div class="field">
    <h2><%= f.label :design %><br /></h2>
    <table>
      <tr>
      <% @designs.each do |design| %>
        <td>
        <label class = "radio">
          <%= image_tag(design.file, :class => "preview", :size => "301x200") %>
          <%= f.radio_button(:design, design.file) %>
        </label>
        </td>
      <% end %>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= f.submit "Preview" %>
  </div>
<% end %>
