<%= form_for(@card) do |f| %>
  <div class ="row">
    <div class ="span10">
      <h2>Hello <%= @card.to %>, here's your card from <%= @card.from %>!</h2>

      <div class ="card">
      <% if @card.design == "/assets/wordsbottom.png" %>
        <div class = "thumbnail">
          <%= image_tag(@card.bg) %>
        </div>
        <div class = "text">
          <p><%= @card.message %></p>
        </div>
      <% elsif @card.design == "/assets/wordstop.png" %>
        <div class = "text">
          <p><%= @card.message %></p>
        </div>
        <div class = "thumbnail">
          <%= image_tag(@card.bg) %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
