<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class ="row">
    <div class="span6">
      <div class="field">
        <%= f.label :from %><br />
        <%= f.text_field :from %>
      </div>
      <div class="field">
        <%= f.label :to %><br />
        <%= f.text_field :to %>
      </div>
      <div class="field">
        <%= f.label "recipient email address" %> 
        <%= f.text_field :recipient %>
      </div>
    </div>
    <div class="span6">
      <div class="field">
        <%= f.label :message %><br />
        <%= f.text_area :message %>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="span12">
  <div class="field">
    <%= f.label :bg %><br />
    <table>
      <tr>
      <% @backgrounds.each do |background| %>
        <td>
        <label class = "radio">
          <%= image_tag(background.file, :class => "preview", :size => "301x200") %>
          <%= f.radio_button(:bg, background.file) %>
        </label>
        </td>
      <% end %>
      </tr>
    </table>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="span12">
  <div class="field">
    <%= f.label :design %><br />
    <table>
      <tr>
      <% @designs.each do |design| %>
        <td>
        <label class = "radio">
          <%= image_tag(design.file, :class => "preview", :size => "301x200") %>
          <%= f.radio_button(:design, design.file) %>
        </label>
        </td>
      <% end %>
      </tr>
    </table>
  </div>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "Preview" %>
  </div>
<% end %>
