<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :bg %><br />
    <table>
    <tr>
    <% @backgrounds.each do |background| %>
      <td><img class="preview" src="<%= background.file %>"/></td>
    <% end %>
    </tr>
    </table>
    <%= f.hidden_field_tag :bg %>
  </div>
  <div class="field">
    <%= f.label :design %><br />
    <%= select(:cards, :design, { "Polaroid" => "assets/polaroid.jpg", "Minimalist" => "assets/mini.jpg"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
