<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="carousel">
    <div class = "carousel-inner">
      <div class="field item">
        <div class="carousel-caption">
        <h4>Sending information</h4>
        </div>
        <p>
        <%= f.label :from %>
        <%= f.text_field :from %>
        <img src = "http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg"/>
        <%= f.label :to %><br />
        <%= f.text_field :to %>
        </p>
      </div>
      <div class="field item">
        <div class="carousel-caption">
        <h4>Write your message</h4>
        </div>
        <%= f.text_area :message %>
      </div>
      <div class="field item">
        <div class="carousel-caption">
        <h4>Choose a background image</h4>
        </div>
        <table>
        <tr>
        <% @backgrounds.each do |background| %>
          <td><img class="preview" src="<%= background.file %>"/></td>
        <% end %>
        </tr>
        </table>
        <%= f.hidden_field :bg %>
      </div>
      <div class="field item active">
        <div class="carousel-caption">
        <h4>Choose a design</h4>
        </div>
        <table>
        <tr>
        <% @designs.each do |design| %>
          <td><img class="preview" src="<%= design.file %>"/></td>
        <% end %>
        </tr>
        </table>
        <%= f.hidden_field :design %>
      </div>
    </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
