<div class="page-header jumbotron subhead"><h1>Your pCard was sent!</h1></div>

<%= button_to 'Make Another pCard', new_card_path, :method => :get, :class => "btn" %>
<%= button_to "View Your pCard", @card, :method => :get, :class => "btn"%>

<p>Your pCard's url:</p>
<p>
<%= link_to(@card) do %>
  <%= card_url(@card, :host => "pcards.herokuapp.com") %>
<% end %>
</p>
<%= render "shared/footer" %>