<!DOCTYPE html>
<html>
<head>
  <title>Pcard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
        <%= image_tag("crest.gif", :alt => "Princeton Crest", :class => "crest", :size => "72x80") %>
          <ul class = "nav nav-pills">
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Create", '#' %></li>
            <li><%= link_to "About", '#' %></li>
          </ul>
    </header>

<%= yield %>

</body>
</html>
