<!DOCTYPE html>
<html>
<head>
  <title>Pcard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
        <%= image_tag("crestclean.png", :alt => "Princeton Crest", :class => "crest brand", :size => "27x30") %>
        <%= link_to "pCard", cards_url, :class => "brand", %>
          <ul class="nav">
            <li>
            <%= link_to "Home", cards_url %>
            </li>
            <li><%= link_to "Create", new_card_path %></li>
            <li><%= link_to "About", '#' %></li>
          </ul>
        </div>
      </div>
    </div>
    </header>
<div class="container">
<%= yield %>
</div>

</body>
</html>
